  <img src="../../assets/coronis/stock.jpeg">
  <h2 class="coronis-h2">{{title}}</h2>
  <p>{{content}}</p>
  <p>Cim quia alignam et faccusam et explit min cum et, nes qui venis que et faciam nemos et occus repudi incienduciis mod min
    reratur, ut adi arum harciam, quam que volorporeped que voluptiam, sitis as veruntis expellorem hic tet rerunt.</p>
  <p>Ibus am doluptat volora quibus ute apiti ulles exeria id qui commos ulpa ea nimus.</p>
  <p>Ne suntiat. Illestiam etus maios sae volupis as elest, sitiat dolorem re offic tem ent ut fugit, nobistis deleceria pre
    commolupis qui dolupic aborruptate si aut voluptat.</p>
  <p>Simet at possitatatus con rat aceate nem necto ommoditam accabo. Arit re nonsequam enditet hilla siti am ipitem numqui
    berupta tiuntur aborior epudae verorrunt, idelit esequi occab inum velibea quibus soloreptae voluptio debitatat faceres
    ut eum ad ut re nonsequiatum aut aut veliquide pa volorib eaquaepudae nimodis sitaestio vernam.</p>
  <p>Cim quia alignam et faccusam et explit min cum et, nes qui venis que et faciam nemos et occus repudi incienduciis mod min
    reratur, ut adi arum harciam, quam que volorporeped que voluptiam, sitis as veruntis expellorem hic tet rerunt.</p>
  <p>Ibus am doluptat volora quibus ute apiti ulles exeria id qui commos ulpa ea nimus.</p>
  <p>Ne suntiat. Illestiam etus maios sae volupis as elest, sitiat dolorem re offic tem ent ut fugit, nobistis deleceria pre
    commolupis qui dolupic aborruptate si aut voluptat.</p>
  <p>Simet at possitatatus con rat aceate nem necto ommoditam accabo. Arit re nonsequam enditet hilla siti am ipitem numqui
    berupta tiuntur aborior epudae verorrunt, idelit esequi occab inum velibea quibus soloreptae voluptio debitatat faceres
    ut eum ad ut re nonsequiatum aut aut veliquide pa volorib eaquaepudae nimodis sitaestio vernam.</p>
  <p>Cim quia alignam et faccusam et explit min cum et, nes qui venis que et faciam nemos et occus repudi incienduciis mod min
    reratur, ut adi arum harciam, quam que volorporeped que voluptiam, sitis as veruntis expellorem hic tet rerunt.</p>
  <p>Ibus am doluptat volora quibus ute apiti ulles exeria id qui commos ulpa ea nimus.</p>
  <p>Ne suntiat. Illestiam etus maios sae volupis as elest, sitiat dolorem re offic tem ent ut fugit, nobistis deleceria pre
    commolupis qui dolupic aborruptate si aut voluptat.</p>
  <p>Simet at possitatatus con rat aceate nem necto ommoditam accabo. Arit re nonsequam enditet hilla siti am ipitem numqui
    berupta tiuntur aborior epudae verorrunt, idelit esequi occab inum velibea quibus soloreptae voluptio debitatat faceres
    ut eum ad ut re nonsequiatum aut aut veliquide pa volorib eaquaepudae nimodis sitaestio vernam.</p>
  <p>Cim quia alignam et faccusam et explit min cum et, nes qui venis que et faciam nemos et occus repudi incienduciis mod min
    reratur, ut adi arum harciam, quam que volorporeped que voluptiam, sitis as veruntis expellorem hic tet rerunt.</p>
  <p>Ibus am doluptat volora quibus ute apiti ulles exeria id qui commos ulpa ea nimus.</p>
  <p>Ne suntiat. Illestiam etus maios sae volupis as elest, sitiat dolorem re offic tem ent ut fugit, nobistis deleceria pre
    commolupis qui dolupic aborruptate si aut voluptat.</p>
  <p>Simet at possitatatus con rat aceate nem necto ommoditam accabo. Arit re nonsequam enditet hilla siti am ipitem numqui
    berupta tiuntur aborior epudae verorrunt, idelit esequi occab inum velibea quibus soloreptae voluptio debitatat faceres
    ut eum ad ut re nonsequiatum aut aut veliquide pa volorib eaquaepudae nimodis sitaestio vernam.</p>