<ion-content no-bounce>
  <ion-grid class="height-100" no-padding>
    <ion-row class="height-100">
      <ion-col size="8">
        <ion-scroll scrollY="true" class="template-scroll">
            <ion-router-outlet></ion-router-outlet>
        </ion-scroll>
      </ion-col>
      <ion-col size="4" class="coronis-border-left" no-padding>
        <ion-grid class="height-100" no-padding>
          <ion-row class="height-100">
            <ion-col align-self-start size="12" style="height: 100px;" no-padding>
              <ion-grid>
                <ion-row class="title-bar">
                  <ion-col size="8"><h1>{{section.title}}</h1></ion-col>
                  <ion-col size="4"><span class="home-logo" float-right></span></ion-col>
                </ion-row>
              </ion-grid>
              <ul class="nav">
                <li *ngFor="let page of pages" >
                  <a routerLink="/{{section.path}}/{{page.path}}" routerLinkActive="active">
                    <span>{{page.title}}</span>
                  </a>
                </li>
              </ul>
            </ion-col>
            <ion-col class="main-logo" size="12" align-self-end>
              <img src="../../assets/coronis/coronis-logo.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>